**/logs
/.atom/blob-store
/.atom/compile-cache
/.atom/dev
/.atom/github.cson
/.atom/packages
/.atom/storage
*.cert
*.csr
*.deb
*.gz
*.key
*.log
*.pem
*.pub
*.srl
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.swp
*.tar
*.tmlanguage.cache
*.tmPreferences.cache
*.zip
.apm
.DS_Store
.node-gyp
.npm
bh_unicode_properties.cache
oscrypto-ca-bundle.crt
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
