[core]
	autocrlf = false
	eol = lf
	fsmonitor = true
	editor = code --wait
	pager = delta
[user]
	name = Teddy Byron
	email = ted@tedbyron.com
	signingkey = E0496EDDDF6BB87D
[transfer]
	fsckObjects = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[tag]
	gpgsign = true
	sort = -taggerdate
[commit]
	gpgsign = true
[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
	followTags = true
[merge]
	tool = vscode
	conflictstyle = zdiff3
	prompt = false
[mergetool "vscode"]
	cmd = code --wait "$REMOTE" "$LOCAL" "$BASE" "$MERGED"
[rerere]
	enabled = true
[rebase]
	autostash = true
	missingCommitsCheck = warn
	updateRefs = true
[status]
	submoduleSummary = true
[blame]
	date = iso-local
[log]
	date = iso-local
[diff]
	algorithm = histogram
	colorMoved = default
	submodule = log
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	navigate = true
	side-by-side = true
	syntax-theme = Dracula
	wrap-max-lines = unlimited
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
