! xft
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

! urxvt
URxvt.perl-ext-common:  default,matcher,selection-to-clipboard
URxvt.url-launcher:     /usr/bin/chromium
URxvt.matcher.button:   1

URxvt.saveLines: 100000

! URxvt.inputMethod: ibus
! URxvt.preeditType: OverTheSpot

URxvt.font: xft:monospace:size=12
URxvt.letterSpace: 0

URxvt.internalBorder: 15
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.iso14755: false
URxvt.iso14755_52: false
