"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    html:
      extra_liners: [
        "head"
        "body"
        "/html"
        "header"
        "main"
        "footer"
      ]
  "atom-clock":
    showTooltip: true
    tooltipDateFormat: "dddd M/D/Y"
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "tab"
    moveToCancel: true
    strictMatching: true
  "color-picker":
    abbreviateValues: true
    uppercaseColorValues: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "language-markdown"
      "highlight-selected"
    ]
    projectHome: "C:\\Users\\Theodore\\Documents\\GitHub\\"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "8000780f-5481-4de2-bb5c-ccf1f9a168af"
  firacode:
    fontWeight: "regular"
    scopes: [
      "*"
    ]
  "gpp-compiler": {}
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "language-markdown":
    addListItems: false
    disableLanguageGfm: false
    emphasisShortcuts: false
  "linter-eslint": {}
  "linter-gcc":
    execPath: "C:\\MinGW\\bin\\gcc.exe"
  "linter-sass-lint":
    configFile: "C:\\Users\\Theodore\\.atom\\.sass-lint.yml"
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    gutterPosition: "Left"
    panelHeight: 150
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
      "text.html"
      "text.html.liquid"
      "text.git-commit"
    ]
  tabs:
    enableMruTabSwitching: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".md.text":
  editor:
    showInvisibles: false
    tabLength: 4
