"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    html:
      extra_liners: [
        "head"
        "body"
        "/html"
        "header"
        "main"
        "footer"
      ]
  "atom-clock":
    showTooltip: true
    tooltipDateFormat: "dddd M/D/Y"
  "atom-ide-ui":
    "atom-ide-find-references": {}
    use:
      "atom-ide-diagnostics-ui": "never"
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "tab"
    moveToCancel: true
    strictMatching: true
  "color-picker":
    abbreviateValues: true
    uppercaseColorValues: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
      "background-tips"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "language-markdown"
      "highlight-selected"
    ]
    projectHome: "$HOME/repositories"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "Iosevka, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "b0fb7cf7-76af-4c8b-922c-c946a20482ac"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "language-markdown":
    addListItems: false
    disableLanguageGfm: false
    emphasisShortcuts: false
  linter:
    lintOnChange: false
  "linter-gcc":
    execPath: "/usr/bin/gcc"
  "linter-js-standard":
    style: "semistandard"
  "linter-sass-lint":
    configFile: "$HOME/.atom/.sass-lint.yml"
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    gutterPosition: "Left"
    panelHeight: 300
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 14
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
      "text.git-commit"
    ]
  tabs:
    enableMruTabSwitching: false
  "toggle-quotes":
    quoteCharacters: "\"'`"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".md.text":
  editor:
    showInvisibles: false
    tabLength: 4
