# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings

'body':
  #pane splitting
  'ctrl-k left': 'pane:split-left-and-move-active-item'
  'ctrl-k left ^ctrl': 'unset!'
  'ctrl-k up': 'pane:split-up-and-move-active-item'
  'ctrl-k up ^ctrl': 'unset!'
  'ctrl-k right': 'pane:split-right-and-move-active-item'
  'ctrl-k right ^ctrl': 'unset!'
  'ctrl-k down': 'pane:split-left-and-move-active-item'
  'ctrl-k left ^ctrl': 'unset!'

# unbind atom-terminal-powershell's open powershell at file
'atom-workspace':
  'ctrl-shift-T': 'unset!'
